In [1]:
# Libraries
import pandas as pd
import numpy as np
from statistics import mode
from datetime import datetime

In [2]:
# Q1 csv files (2023-01, 2023-02, 2023-03)
df1 = pd.read_csv("C:/Users/burak/OneDrive/Masaüstü/Google Data Analytics/csv.data/202301-divvy-tripdata.csv")
df2 = pd.read_csv("C:/Users/burak/OneDrive/Masaüstü/Google Data Analytics/csv.data/202302-divvy-tripdata.csv")
df3 = pd.read_csv("C:/Users/burak/OneDrive/Masaüstü/Google Data Analytics/csv.data/202303-divvy-tripdata.csv")

In [3]:
# Merge function  
def merge_df(*dfs):
    merged_df = pd.concat(dfs, ignore_index = True)
    return merged_df

df0 = merge_df(df1, df2, df3)

In [4]:
df0.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,F96D5A74A3E41399,electric_bike,2023-01-21 20:05:42,2023-01-21 20:16:33,Lincoln Ave & Fullerton Ave,TA1309000058,Hampden Ct & Diversey Ave,202480.0,41.924074,-87.646278,41.930000,-87.640000,member
1,13CB7EB698CEDB88,classic_bike,2023-01-10 15:37:36,2023-01-10 15:46:05,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
2,BD88A2E670661CE5,electric_bike,2023-01-02 07:51:57,2023-01-02 08:05:11,Western Ave & Lunt Ave,RP-005,Valli Produce - Evanston Plaza,599,42.008571,-87.690483,42.039742,-87.699413,casual
3,C90792D034FED968,classic_bike,2023-01-22 10:52:58,2023-01-22 11:01:44,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member
4,3397017529188E8A,classic_bike,2023-01-12 13:58:01,2023-01-12 14:13:20,Kimbark Ave & 53rd St,TA1309000037,Greenwood Ave & 47th St,TA1308000002,41.799568,-87.594747,41.809835,-87.599383,member

In [5]:
df0.describe(include = ["object"])

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,member_casual
count,639424,639424,639424,639424,551320,551188,546408,546267,639424
unique,639424,3,594512,595322,1102,1066,1120,1082,2
top,F96D5A74A3E41399,electric_bike,2023-03-21 17:27:42,2023-03-22 17:30:49,University Ave & 57th St,KA1503000071,University Ave & 57th St,KA1503000071,member
freq,1,345206,5,11,5908,5908,5908,5908,494199

In [6]:
df0.isnull().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    88104
start_station_id      88236
end_station_name      93016
end_station_id        93157
start_lat                 0
start_lng                 0
end_lat                 426
end_lng                 426
member_casual             0
dtype: int64

In [7]:
df0.dtypes

ride_id                object
rideable_type          object
started_at             object
ended_at               object
start_station_name     object
start_station_id       object
end_station_name       object
end_station_id         object
start_lat             float64
start_lng             float64
end_lat               float64
end_lng               float64
member_casual          object
dtype: object

In [8]:
# Converting dtypes
df0["started_at"] = pd.to_datetime(df0["started_at"], errors="coerce")
df0["ended_at"] = pd.to_datetime(df0["ended_at"], errors="coerce")

In [9]:
df0.dtypes

ride_id                       object
rideable_type                 object
started_at            datetime64[ns]
ended_at              datetime64[ns]
start_station_name            object
start_station_id              object
end_station_name              object
end_station_id                object
start_lat                    float64
start_lng                    float64
end_lat                      float64
end_lng                      float64
member_casual                 object
dtype: object

In [10]:
df0["ride_length"] = df0["ended_at"] - df0["started_at"]

df0["ride_length"]

0        0 days 00:10:51
1        0 days 00:08:29
2        0 days 00:13:14
3        0 days 00:08:46
4        0 days 00:15:19
               ...
639419   0 days 00:06:23
639420   0 days 00:26:03
639421   0 days 00:02:35
639422   0 days 00:07:06
639423   0 days 00:05:44
Name: ride_length, Length: 639424, dtype: timedelta64[ns]

In [11]:
# sunday = 1, saturday = 7
df0["day_of_week"] = df0["started_at"].apply(lambda x: (x.dayofweek + 1) % 7 + 1)

In [12]:
print(df0["ride_length"].mean())
print("-"*40)
print(df0["ride_length"].max()) # anomaly detected
print("-"*40)
print(df0["day_of_week"].mode())
print("-"*40)
print(df0["ride_length"].min()) # anomaly detected

0 days 00:13:11.478791850
----------------------------------------
23 days 08:03:44
----------------------------------------
0    3
Name: day_of_week, dtype: int64
----------------------------------------
-1 days +23:56:44

In [13]:
ridelength_min = df0[df0["ride_length"] == df0["ride_length"].min()]

print(ridelength_min)

                 ride_id  rideable_type          started_at  \
379648  4EFC95304E050AA1  electric_bike 2023-02-04 13:08:08

                  ended_at start_station_name start_station_id  \
379648 2023-02-04 13:04:52                NaN              NaN

               end_station_name end_station_id  start_lat  start_lng  \
379648  Dearborn St & Monroe St   TA1305000006      41.88     -87.63

         end_lat    end_lng member_casual       ride_length  day_of_week
379648  41.88132 -87.629521        member -1 days +23:56:44            7

In [14]:
ridelength_max = df0[df0["ride_length"] == df0["ride_length"].max()]

print(ridelength_max)

                ride_id rideable_type          started_at            ended_at  \
72088  307CA01BAE3CC7E3   docked_bike 2023-01-08 11:08:52 2023-01-31 19:12:36

          start_station_name start_station_id end_station_name end_station_id  \
72088  Michigan Ave & 8th St              623              NaN            NaN

       start_lat  start_lng  end_lat  end_lng member_casual      ride_length  \
72088  41.872773 -87.623981      NaN      NaN        casual 23 days 08:03:44

       day_of_week
72088            1

In [15]:
df0["anomaly_period_negative"] = df0["ended_at"] < df0["started_at"]
df0["anomaly_period_positive"] = df0["ride_length"] > pd.Timedelta("1 days")

In [16]:
df0[df0["anomaly_period_negative"]].count()

ride_id                    1
rideable_type              1
started_at                 1
ended_at                   1
start_station_name         0
start_station_id           0
end_station_name           1
end_station_id             1
start_lat                  1
start_lng                  1
end_lat                    1
end_lng                    1
member_casual              1
ride_length                1
day_of_week                1
anomaly_period_negative    1
anomaly_period_positive    1
dtype: int64

In [17]:
df0[df0["anomaly_period_positive"]].count()

ride_id                    387
rideable_type              387
started_at                 387
ended_at                   387
start_station_name         387
start_station_id           387
end_station_name            12
end_station_id              12
start_lat                  387
start_lng                  387
end_lat                     17
end_lng                     17
member_casual              387
ride_length                387
day_of_week                387
anomaly_period_negative    387
anomaly_period_positive    387
dtype: int64

In [18]:
df0.drop(df0[df0["anomaly_period_negative"] | df0["anomaly_period_positive"]].index, inplace=True)

In [19]:
zero_length_rides = df0[df0["ride_length"] == pd.Timedelta(0)]
print(zero_length_rides.count())

ride_id                    35
rideable_type              35
started_at                 35
ended_at                   35
start_station_name         35
start_station_id           35
end_station_name           26
end_station_id             26
start_lat                  35
start_lng                  35
end_lat                    35
end_lng                    35
member_casual              35
ride_length                35
day_of_week                35
anomaly_period_negative    35
anomaly_period_positive    35
dtype: int64

In [20]:
df0["anomaly_period_zero"] = df0["ride_length"] == pd.Timedelta("0 seconds")

In [21]:
df0 = df0[df0["ride_length"] != pd.Timedelta("0 seconds")]

In [22]:
df0.count()

ride_id                    639001
rideable_type              639001
started_at                 639001
ended_at                   639001
start_station_name         550898
start_station_id           550766
end_station_name           546369
end_station_id             546228
start_lat                  639001
start_lng                  639001
end_lat                    638945
end_lng                    638945
member_casual              639001
ride_length                639001
day_of_week                639001
anomaly_period_negative    639001
anomaly_period_positive    639001
anomaly_period_zero        639001
dtype: int64

In [23]:
df0.dtypes

ride_id                             object
rideable_type                       object
started_at                  datetime64[ns]
ended_at                    datetime64[ns]
start_station_name                  object
start_station_id                    object
end_station_name                    object
end_station_id                      object
start_lat                          float64
start_lng                          float64
end_lat                            float64
end_lng                            float64
member_casual                       object
ride_length                timedelta64[ns]
day_of_week                          int64
anomaly_period_negative               bool
anomaly_period_positive               bool
anomaly_period_zero                   bool
dtype: object

In [24]:
# Converting ride_length timedelta64 to integer
df0['ride_duration_str'] = df0['ride_length'].astype(str).str.extract(r'(\d+:\d+:\d+|\d+:\d+)')[0]
df0['ride_duration_str'] = df0['ride_duration_str'].str.replace(":", ".")
df0["ride_duration_str"] = df0["ride_duration_str"].str[-8:]

In [25]:
df0['hour'] = df0['ride_duration_str'].str.split('.').str[0].astype(float)
df0['minute'] = df0['ride_duration_str'].str.split('.').str[1].astype(float)
df0['second'] = df0['ride_duration_str'].str.split('.').str[2].astype(float)

df0['ride_duration_int'] = df0['hour'] * 60 + df0['minute'] + df0['second'] / 60

df0['ride_duration_int'] = df0['ride_duration_int'].round(2)

In [26]:
df0[["ride_duration_int"]]

        ride_duration_int
0                   10.85
1                    8.48
2                   13.23
3                    8.77
4                   15.32
...                   ...
639419               6.38
639420              26.05
639421               2.58
639422               7.10
639423               5.73

[639001 rows x 1 columns]

In [27]:
df0.dtypes

ride_id                             object
rideable_type                       object
started_at                  datetime64[ns]
ended_at                    datetime64[ns]
start_station_name                  object
start_station_id                    object
end_station_name                    object
end_station_id                      object
start_lat                          float64
start_lng                          float64
end_lat                            float64
end_lng                            float64
member_casual                       object
ride_length                timedelta64[ns]
day_of_week                          int64
anomaly_period_negative               bool
anomaly_period_positive               bool
anomaly_period_zero                   bool
ride_duration_str                   object
hour                               float64
minute                             float64
second                             float64
ride_duration_int                  float64
dtype: object

In [28]:
df0 = df0.drop(["second", "minute", "hour", "ride_duration_str", "anomaly_period_zero", "anomaly_period_negative", "anomaly_period_positive"], axis = 1)

In [29]:
df0.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual', 'ride_length', 'day_of_week', 'ride_duration_int'],
      dtype='object')

# Analyze

In [30]:
df0.to_csv(r"C:/Users/burak/OneDrive/Masaüstü/Google Data Analytics/updated.csv", index = False)

In [44]:
# The most preferred starting point for member users
df0[df0["member_casual"] == "member"].groupby("start_station_name")["start_station_name"].count().sort_values(ascending=False).head(10)

start_station_name
University Ave & 57th St        4976
Ellis Ave & 60th St             4836
Clinton St & Washington Blvd    4499
Kingsbury St & Kinzie St        4095
Clark St & Elm St               3674
Canal St & Adams St             3487
Clinton St & Madison St         3386
State St & Chicago Ave          3319
Ellis Ave & 55th St             3306
Loomis St & Lexington St        3157
Name: start_station_name, dtype: int64

In [45]:
# The most preferred ending point for member users
df0[df0["member_casual"] == "member"].groupby("end_station_name")["end_station_name"].count().sort_values(ascending=False).head(10)

end_station_name
University Ave & 57th St        4945
Clinton St & Washington Blvd    4921
Ellis Ave & 60th St             4758
Kingsbury St & Kinzie St        4189
Clinton St & Madison St         3662
Clark St & Elm St               3578
Canal St & Adams St             3552
Ellis Ave & 55th St             3384
State St & Chicago Ave          3353
Loomis St & Lexington St        3293
Name: end_station_name, dtype: int64

In [46]:
# The most preferred starting point for casual users
df0[df0["member_casual"] == "casual"].groupby("start_station_name")["start_station_name"].count().sort_values(ascending=False).head(10)

start_station_name
Streeter Dr & Grand Ave              1626
Shedd Aquarium                       1295
DuSable Lake Shore Dr & Monroe St    1281
Millennium Park                      1067
University Ave & 57th St              929
Ellis Ave & 60th St                   906
Wells St & Concord Ln                 887
Kingsbury St & Kinzie St              836
Sheffield Ave & Fullerton Ave         826
LaSalle St & Illinois St              773
Name: start_station_name, dtype: int64

In [47]:
# The most preferred ending point for casual users
df0[df0["member_casual"] == "casual"].groupby("end_station_name")["end_station_name"].count().sort_values(ascending=False).head(10)

end_station_name
Streeter Dr & Grand Ave              1872
Millennium Park                      1230
Shedd Aquarium                       1021
University Ave & 57th St              962
DuSable Lake Shore Dr & Monroe St     924
Wells St & Concord Ln                 894
Ellis Ave & 60th St                   870
Michigan Ave & Washington St          868
LaSalle St & Illinois St              824
Broadway & Barry Ave                  809
Name: end_station_name, dtype: int64